<!--
!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user</title>
    {% include 'common.html' %}
    <ul>
        {% for digit in digits -%}
            <li>{{ digit }}</li>
        {%- endfor %}
    </ul>
    {% if name == 'ulysses' %}
        <h1>Hello, admin</h1>
    {% else %}
       <h1>Welcome, {{ name|title}}!</h1>
    {% endif %}

    {% import 'macro.html' as macro %}
    <ul>
        {% for user in users %}
            <h2>{{ macro.render_user(user) }}</h2>
        {% endfor %}
    </ul>
</head>
<body>

</body>
</html>
-->
{% extends 'base.html' %}
{% block title %}Flasky-个人信息{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>{{ user.user_name }}</h1>
    {% if user.about_me %}
        <p>个人信息:{{ user.about_me }}</p>
    {% endif %}
    {% if user.name or user.location%}
    <P>
        {% if user.name %}真实姓名：{{ user.name }}{% endif %}
        {% if user.location %}
            居所<a href="http://maps.google.com/q={{user.location}}">
                {{ user.location }}
            </a>
        {% endif %}
    </P>
    {% endif %}
    {% if current_user.is_administrator() %}
        <P><a href="mailto:{{user.email}}}">{{ user.email }}</a></P>
    {% endif %}
    <p>
        注册时间: {{ moment(user.member_since).format('LLLL')}}.<br/>
        上次登录: {{ moment(user.last_seen).fromNow() }}.
    </p>
    <p>
        {% if user == current_user %}
        <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">编辑信息</a>
        {% endif %}
        {% if current_user.is_administrator() %}
        <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">编辑信息[Admin]</a>
        {% endif %}
    </p>
</div>
{% endblock %}